<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NetWorth Visual - Net Worth forecasting with scenarios.</title>
    <meta name="description" content="NetWorh - Visual net worth calculations with scenarios.">
    <link id="favicon" rel="icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/contour.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="https://cdn.jsdelivr.net/npm/d3@3.5.17/d3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@3.10.1/index.min.js"></script>
    <script src="/contour.js"></script>
    <script src="/contour-connectors.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
 
    <h1>Visual Net Worth</h1>

    <div class="myFirstChart" style="width:80%; height:300px;"></div>
    

    <!-- Template TEST Code -->
    <script id="tmpl_TEST" type="text/tmplrender">
      /*
        <div id="{{DIVID}}" class="{{DIVCLASS}}">
          This ID = {{DIVID}} : This Class = {{DIVCLASS}}
        </div>

      */
    </script>
    <script src="client.js" language="javascript"></script>
    <script lang="javascript">
      DOMReady(function () {
        NetWorthApp();
        }
      );

      var tmplCode = tmplrender({DIVID:"testID", DIVCLASS:"divClass"}, "tmpl_TEST", false);
      console.log(tmplCode);

    </script>
  </body>
</html>
