<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NetWorth Visual - Net Worth forecasting with scenarios.</title>
    <meta name="description" content="NetWorh - Visual net worth calculations with scenarios.">
    <link id="favicon" rel="icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
 
    <h1>Welcome!</h1>

    <div id="TESTTMPLDEST">Pre-test -- is this is still here, test failed.</div>

    <!-- Template TEST Code -->
    <script id='tmpl_TEST' type='text/tmplrender'>
      /*
        <div 
          id='{{DIVID}}' 
          class='{{DIVCLASS}}' 
          >
          This ID = {{DIVID}} : This Class = {{DIVCLASS}}
        </div>

      */
    </script>
    <script src="client.js" language="javascript"></script>
    <script lang="javascript">
      NetWorthApp();

      tmplrender({DIVID:"testID", DIVCLASS:"divClass"}, "tmpl_TEST", "TESTTMPLDEST")

    </script>
  </body>
</html>
